<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Device Diagnostic/src/com/cncmes/gui/DeviceDiagnostic.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cncmes.gui.DeviceDiagnostic"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Device Diagnostic"/>
</launchConfiguration>
